/* @import stylep-menu-icon; */
@import '../index.css';

button {
  border: 0;
  cursor: pointer;
  background: initial;
  outline: initial;
}

.menu-icon {
  @mixin menu-icon;
}

.menu-icon--small {
  @mixin menu-icon blue, magenta, 5px;
}

.menu-icon--large {
  @mixin menu-icon green, pink, 100px;
}

.menu-icon--class {
  @mixin menu-icon purple, magenta, 50px, .active;
}

